<div class="container-fluid px-0 section-block flex-column">

    <div class="wide-image-container">

        <div class="moving-text">
            Breaking News: The City of Nowhereville has finally managed to summon Chtulu and the results will shock you!
        </div>

        <div class="moving-text">
            Breaking News: The City of Nowhereville has finally managed to summon Chtulu and the results will shock you!
        </div>

        <img
        class="w-100 h-100"
        style="object-fit: cover;"
        src="assets/images/Temp.jpg"
        alt="Description of image"
      />
    </div>

</div>

<div class="container-fluid py-5 section-block" style="overflow: hidden;">
    <div class="row">
        <div class="col-12 col-md-6 px-5">
            <h1 class="body-text">
                <span style="font-weight: bolder;">Latest on the cosmic web:</span> Demo websites being sued for not actually providing supernatural services! Scandalous!
            </h1>
            
        </div>
    
        <div class="col-12 col-md-6 px-5 d-flex justify-content-center align-items-center">
            <div class="jumping-image-container">
                <img
                    class="small-image"
                    style="object-fit: cover;"
                    src="assets/images/Temp.jpg"
                    alt="Description of image"
                />

                <img
                    class="small-image jumping-image jump-animation-1"
                    style="object-fit: cover;"
                    src="assets/images/Temp2.jpg"
                    alt="Description of image"
                />

                <img
                    class="small-image jumping-image jump-animation-2"
                    style="object-fit: cover;"
                    src="assets/images/Temp3.jpg"
                    alt="Description of image"
                />
            </div>
        </div>
    </div>

    

</div>


<div class="container-fluid section-block">
    <div class="row w-100 h-100">
      <div
        class="col-6 col-lg-6 d-flex align-items-center justify-content-center order-2 order-lg-1"
      >
        <img
          class="small-image"
          src="assets/images/Temp.jpg"
          alt="Description of image"
        />
      </div>
      <div
        class="col-12 col-lg-6 d-flex align-items-center justify-content-center order-1 order-lg-2"
      >
        <div class="container-fluid">
          <div class="row col-12 d-flex align-items-center px-1 px-lg-5">
            <h2 class="text-center title">
              Welcome Anne the "Time Lord" to our roster!
            </h2>
            <span class="text-center mt-4" style="color:var(----text-gray)"
            >Looking for a companion that makes time fly? With Anne time literally stops being a problem! With her thousand-eyed gaze, tendrils that politely extend from another dimension and incomprehensible time manipulation powers, she’s the perfect pal for any sports enthusiast!
            </span>
          </div>

          <div
            class="row col-12 d-flex align-items-center justify-content-center px-5"
          >
            <button
              mat-flat-button
              aria-label="Rent button"
              class="rent-button mt-4"
              (click)="navigate('/rent')"
            >
              <span>Browse</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>