.photo-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: calc(min(400px, 100%));
    aspect-ratio: 3/4; 
}

.photo {
    width: calc(min(400px, 100%));
    aspect-ratio: 3/4; 
    border-radius: 10%;
    transition: opacity 1s ease;
    position: absolute;
    top:0;
    opacity: 0;
}

.photo-active {
    opacity: 1;
}

.photo-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px; /* Adjust this width depending on how much edge you want clickable */
    cursor: pointer;
    z-index: 10;
}

.photo-nav button {
    transition: opacity 1s ease, transform 1s ease;
    opacity: 0;
    background: var(--primary-gray);
    transform: scale(0.7);
}

.photo-nav:hover button {
    opacity: 1;
}

.photo-nav span .fa-stack-1x {
    color: var(--primary-white);
    font-size: 12px;
}

.photo-nav span .fa-stack-2x {
    color: var(--primary-black);
}

.photo-nav span:hover {
    transform: scale(1.05); /* Slight zoom-in */
}

.left-nav {
    left: 0;
}

.right-nav {
    right: 0;
}

.title-text {
    letter-spacing: 0.1em;
    font-size: 15px;
    font-weight: 700;
}

.price {
    font-size:20px;
    color: var(--text-gray);
}

.sub-text {
    color: var(--text-gray);
    font-size: 15px;
}

.rent-button {
    background: var(--primary-black);
    width: fit-content;
    letter-spacing: 0.1em; 
}

.separator-title {
    font-weight: bolder;
    text-transform: uppercase;
}

.indicator-lines {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    top: 0px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.indicator {
    padding-bottom: 10px;
    padding-top: 10px;
    height: 3px; /* Thickness of the line */
    margin: 0 5px; /* Spacing between lines */
    border-radius: 2px;
    
    flex-grow: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.indicator-line {
    background-color: var(--primary-gray); /* Default white color */   
    transition: background-color 0.3s; /* Smooth transition for the color change */
    height: 3px;
    width: 100%;
    border-radius: 10%;
}

.indicator:hover .indicator-line {
    background-color: var(--primary-white); /* Default white color */   
}

.indicator-active {
    background-color: var(--primary-white);
}