<div>
    <!-- Home Image section -->
    <div class="title-image">
        <img src="assets/images/Temp.jpg" alt="Description of image">
    </div>

    <!-- First text section -->
    <div class="container section-block">
        <div class="row w-100 h-100">
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center order-2 order-lg-1">
                <img class="small-image" src="assets/images/Temp.jpg" alt="Description of image">
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center order-1 order-lg-2">
                <div class="container">
                    <div class="row col-12 d-flex align-items-center px-1 px-lg-5">
                        <h2 class="text-center title">Meet lovely beings who are DYING to meet you</h2>
                        <span class="text-center mt-4 body-text">Have you ever felt that the mundanity of life was catching on to you? 
                            Here at, My Eldritch Pal we strive to provide you with the chance to meet beings who will rock your world.
                            From Deep Ones to <span class="blurred-text">Ajshw dhshdk ashjs</span>, we have any being your heart could ever desire, and more!
                        </span>
                    </div>
    
                    <div class="row col-12 d-flex align-items-center justify-content-center px-5">
                        <button
                            mat-flat-button
                            aria-label="Browse button"
                            class="browse-button mt-4">
                            <span>Browse</span>
                        </button>
                    </div>
                  </div>
               
            </div>
        </div>
    </div>

    <!-- Showreel --> 

<app-showreel></app-showreel>

    <!-- Second text section -->



    <!-- Top of the month section -->
</div>

