img {
    object-fit: cover;
}

.title-card {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0px;
    width: 100%;
    height: 100%;
    color:var(--primary-white);
}

.title-text {
    font-size: clamp(16px, 15vw, 80px);
    font-weight: bolder;
    max-width: 600px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em; 
}

.title-button {
    background: var(--primary-white);
    width: fit-content;
    letter-spacing: 0.1em; 
    color: var(--primary-black);
}

.title-image {
    height: calc(100vh - 72px);
    overflow: hidden;
    justify-content: center;
    display: flex;
    position: relative;
}

.img-container {
    max-height: 50%;
    
}

.small-image {
    margin: 5px;
    width: auto;
    height: auto;
    object-fit: cover;
    max-height: 100%;
}

@media (min-width: 992px) {
    .img-container {
        max-height: 100%;
        padding: 5px;
    }
    
    .small-image {
        margin: 5px;
        width: 75%;
        height: auto;
        object-fit: cover;
        max-height: 100%;
    }
}

.section-slice {
    width: 50%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

.browse-button {
    background: var(--primary-black);
    width: fit-content;
    letter-spacing: 0.1em; 
}

.body-text {
    color: var(--text-gray);
}

.title {
    font-weight: bolder;
    text-transform: uppercase;
}

.blurred-text {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    filter:blur(5px);
}
