img {
    object-fit: cover;
}

.title-image {
    height: calc(100vh - 72px);
    overflow: hidden;
}

.small-image {
    margin: 5px;
    width: 75%;
    height: auto;
    object-fit: cover;
}

.top-image-container {
    width: 100%;
    height: 50%;
    display: flex;
    overflow:hidden;
    position: relative;
    flex-shrink: 0;
}

.top-img {
    object-fit: cover;
    flex-shrink: 0;
    width: auto;
    height: 100%;
    position: absolute;
}

.section-block {
    height: calc(100vh - 72px);
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {
    .section-block-longer {
        height: calc(125vh - 72px);
        align-items: center;
        justify-content: center;
    }
}

.section-slice {
    width: 50%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

.browse-button {
    background: var(--primary-black);
    width: fit-content;
    letter-spacing: 0.1em; 
}

.body-text {
    color: var(--text-gray);
}

.title {
    font-weight: bolder;
}

.blurred-text {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    filter:blur(5px);
}

.sticky {
    position: sticky;
    top: 72px;
    z-index: 2;
}

.img-top{
    transition: transform 0.3s ease-out;
}