//Custom material theming
@use '@angular/material' as mat;

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
  typography: (
    plain-family: 'Arial, sans-serif',
    brand-family: 'Arial, sans-serif',
  )
));

:root {
  @include mat.all-component-themes($my-theme);
    --primary-black: #000000;
    --primary-white: #ffffff;
    --primary-background: #ffffff;
    --primary-gray: #dbdbdbb8;
    --text-gray: #505050b8;
}


// General css
html, body { height: auto; }
body { 
    background: var(--primary-background);
    margin: 0; 
    font-family: Arial,  sans-serif; 
    font-size: 18px; 
}




