<div class="footer container-fluid">

    <hr class="solid mt-0" style="color:var(--text-gray-light)">

    <div class="footer-content">
        <div class="d-flex justify-content-between flex-column flex-lg-row">
            <div class="d-flex justify-content-left px-4 py-2 socials">
                <i class="fa fa-facebook me-4"></i>
                <i class="fa fa-instagram me-4"></i>
                <i class="fa fa-youtube-play me-4"></i>
            </div>
    
            <div class="d-flex px-4 py-2">
                &#64; 2024 My Eldritch Pal
            </div>
        </div>
        
        <div class="d-flex justify-content-between flex-column flex-lg-row">
            <div class="px-4 py-2" style="cursor: pointer;">
                Privacy Policy
            </div>
            <div class="px-4 py-2" style="cursor: pointer;">
                Terms and conditions
            </div>
        </div>
    </div>

   
</div>
