<div class="container-fluid d-flex section-block align-items-center justify-content-start flex-column px-0" style="overflow: hidden;">
    <!-- Reviews -->
    <div #reviewReel class="review-reel" aria-label="carousel" [style.transform]="updateCarouselPosition()"> <!-- flex-grow-1 -->
        <ng-template ngFor let-item [ngForOf]="reviewList" let-i="index" >
            <app-review-card class="card-container" [ngClass]="i==selectedIdx ? null : 'unselectedReview'" aria-label="review-card"
            [isSelected]="i==selectedIdx" [idx]="i" [reviewText]="item.text" [reviewer]="item.reviewer"
            (clickSelect)="jumpToSlide($event)"></app-review-card>
        </ng-template>
    </div>
    <!-- Slider -->
    <div class="d-flex">
        <ng-template ngFor let-item [ngForOf]="reviewList" let-i="index" >
            <div class="mx-3 slider-buttons" [ngClass]="i==selectedIdx ? 'selected-slider-button' : null"
            attr.aria-label="Show carousel review {{i}}" (click)="jumpToSlide(i)">
            </div>
        </ng-template>
    </div>
    <div class="mt-4 w-100 h-100">
        <img class="w-100 h-100" src="assets/images/background/footer/footer_background.png" alt="Description of image" />
    </div>
</div>